.projects {
  text-align: center;
  padding: 30px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px;
  margin-top: 30px;
}

.project-card {
  background-color: #f8fafc;
  border: 1px solid #e2e8f0;
  border-radius: 10px;
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}
.project-card p {color: #0284c7;}
.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.project-card h3 {
  color: #0f172a;
  margin-bottom: 10px;
}

.project-card button {
  background-color: #0ea5e9;
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.project-card button:hover {
  background-color: #0284c7;
}